* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
.container{
    width: 100vw;
    height: 100vh;
    background-color: #759AAB;

    
}
.card-div{
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.card{
    width: 15vw;
    height: 30vh;
    background-color: #D9DCA4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 5vh;
    text-align: center;
}
img{
    height: auto;
}